@import url('https://fonts.googleapis.com/css2?family=Hind+Siliguri&display=swap');

:root {
  --primary: #A5633C;
  --secondary: #f7f95e;
  --tertiary: #fbf0e5;
}

body{
  font-family: 'Hind Siliguri', sans-serif;
}

.main-pic{
  background-image: url(https://th.bing.com/th/id/OIP.QIwy8kvDsVZ564IW12DldgHaE8?pid=ImgDet&rs=1);
  background-size: cover;
}

.bur-paint {
  height: 70px;
  width: 70px;
}

.form-card {
  background-color: var(--secondary);
  padding: 0px;
}

.float-card{
  top: 75px;
  right: 75px;
}

.nav-font{
  font-size: 44px;
  vertical-align: bottom;
}

.icon-font {
  vertical-align: bottom;
}

.test {
  width: max-content;
  height: 40em;
}
.img-card{
  display: block;
}

.card {
  height: 25em;
  width: 30em;
}

.big-card{
  height: 30em;
  width: 30em;
}

.bg-pri{
  background-color: var(--primary);
  color: var(--tertiary);
}

.bg-sec {
  background-color: var(--secondary);
  color: var(--primary);
}

.bg-tert {
  background-color: var(--tertiary);
  color: var(--primary);
}

.text-subtle{
  color:rgb(165, 99, 60, .5);
}

.pt-13 {
  padding-top: 130px;
}

.w-60 {
  width: 60%;
}

.w-40 {
  width: 40%;
}

.vh-40 {
  height: 40vh;
}

.vh-60{
  height: 60vh;
}

.vh-80 {
  height: 80vh;
}

@media only screen and (max-width: 992px ) {
  .card {
    order: 2;
  }
  .big-card{
    order: 1;
  }

  /* .float-card {
    order: 1;
  } */

}

/* @media only screen and (min-width: 992px) {

  .pos-stat {
    position: relative;
  }
} */