@import url('https://fonts.googleapis.com/css2?family=Hind+Siliguri&display=swap');

:root {
  --primary: #A5633C;
  --secondary: #f7f95e;
  --tertiary: #fbf0e5;
}

body{
  font-family: 'Hind Siliguri', sans-serif;
}

.spacing {
  height: 60px;
  top: 0px;
}

.main-pic{
  background-image: url(https://th.bing.com/th/id/OIP.QIwy8kvDsVZ564IW12DldgHaE8?pid=ImgDet&rs=1);
  background-size: cover;
  height: 100vh;
}

.bur-paint {
  height: 50px;
  width: 50px;
}

.form-card {
  background-color: var(--secondary);
  padding: 0px;
  margin: 0px;
}

.float-card { 
  height: 75%;
  top: 8em;
  left: 5em;
  box-shadow: 3px 3px 6px #FFFF89;
}

.nav-font{
  font-size: 33px;
  vertical-align: bottom;
}

.card {
  height: 15em;
  width: 20em;
  box-shadow: 3px 3px 6px #FFFF89;
}

.big-card{
  height: 20em;
  width: 20em;
  box-shadow: 3px 3px 6px #FFFF89;
}

.b-shadow{
  box-shadow: 3px 3px 6px #FFFF89;
}

.bg-pri{
  background-color: var(--primary);
  color: var(--tertiary);
}

.bg-sec {
  background-color: var(--secondary);
  color: var(--primary);
}

.bg-tert {
  background-color: var(--tertiary);
  color: var(--primary);
}

.text-subtle{
  color:rgb(165, 99, 60, .5);
}

.fs-7 {
  font-size: .75rem;
}

.fs{
  font-size: 3rem;
}

.pr-1 {
  padding-right: .25rem;
}

.pr-5 {
  padding-right: 5rem;
}

.pl-1 {
  padding-left: .25rem;
}

.w-60 {
  width: 60%;
}

.w-40 {
  width: 40%;
}

.vh-40 {
  height: 40vh;
}

.vh-60{
  height: 60vh;
}

.vh-80 {
  height: 80vh;
}



@media only screen and (max-width: 992px ) {
  .card {
    order: 2;
  }
  .big-card{
    order: 1;
  }
  .float{
      order: 1;
      position: unset !important;
      height: 100%;
   }

  .blurb-card{
      order: 2;
  }

  .video  {
    height: 40vh;
  }
}